* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #000;
}

h1 {
    text-align: center;
    margin: 30px 0 5px 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

hr {
    width: 50px;
    margin: 0 auto 10px auto;
    border: 1px solid #2bd3f1;
}

.container {
    width: 480px;
    height: 80vh;
    background: #517281;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px #517281;
    box-shadow: 0 0 10px #517281;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

img {
    width: 80px;
    height: 80px;
    color: white;
    border-radius: 50%;
    z-index: 1;
    object-fit: cover;
    margin: 10px;
}

.name {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Halvetica', sans-serif;
}

.job {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.quote {
    width: auto;
    height: auto;
    color: white;
    word-wrap: break-word;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    user-select: text;
}

.box {
    width: 80%;
    height: 50%;
    background: #000;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
.arrow:hover {
    border: solid cyan;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.row {
    margin-top: auto;
}

.btn-quote {
    width: 100px;
    height: 30px;
    margin: auto;
    background: black;
    color: #2bd3f1;
    border: 1px solid #2bd3f1;
}
.btn-quote:hover {
    color: red;
    border: 1px solid red;
}

@media screen and (max-width: 480px) {
    .container {
        width: 80%;
    }
}